$primary: #000000;
$secondary: #e9eae8;
$background: white;
$allow: #66bb6a;
$deny: #f44336;

$font: 'YS Text', Roboto, Helvetica, Arial, sans-serif;
$fontMono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$baseFontSize: 16px;
$baseFontColor: #222425;

$maxPageWidth: 1200px;
$defaultPadding: 1rem;

$defaultBorder: 1px solid gray;
$overlayBackground: rgba(255, 255, 255, 0.9);
